<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/tailwind.css">  
    <title>Document</title>
</head>
<body>
    <nav class="flex justify-between p-2 text-lg md:text-2xl font-serif">
        <div>
          <h1 class="uppercase hover:text-yellow-500 md:text-3xl"><a href="/">Create-sla</a></h1>
        </div>
        <div class="mx-4">
          <ul class="flex uppercase ">
            <li class="mx-2 hover:text-yellow-500"><a href="/product/1">Model C</a></li>
            <li class="mx-2 hover:text-yellow-500"><a href="/product/2">Model D</a></li>
            <li class="mx-2 hover:text-yellow-500"><a href="/product/3">Model P</a></li>
            <li class="mx-2 hover:text-yellow-500"><a href="/product/4">Model S</a></li>
          </ul>
        </div>
        <div class="hover:text-yellow-500 "><a href="/">Logout</a></div>
      </nav>
    {{{body}}}
</body>
</html>

<script src="./js/logout.js"></script>