<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     <link rel="stylesheet"  href="/css/login.css" />
</head>
<body>
    {{!-- <nav class="nav-container">
      <div>
        <h1 class="name-header"><a href="/">Create-A-Car</a></h1>
      </div>
      <div class="model">
        <ul class="car">
          <li><a href="/product/1">Model C</a></li>
          <li><a href="/product/2">Model D</a></li>
          <li><a href="/product/3">Model P</a></li>
          <li><a href="/product/4">Model S</a></li>
        </ul>
      </div>
      <div>
        <ul class="account">
          <li><a href="/login">Login/SignUp</a></li>
        </ul>
      </div>
    </nav> --}}
    {{{body}}}
    
</body>
</html>