<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create-A-Car</title>
    <link rel="stylesheet"  href="/css/home.css" />
  </head>
  <body>
    <nav class="nav-container">
      <div>
        <h1 class="name-header"><a href="/">Create-A-Car</a></h1>
      </div>
      <div class="model">
        <ul class="car">
          <li><a href="/product/1">Cooper</a></li>
          <li><a href="/product/2">Desiree</a></li>
          <li><a href="/product/3">Phon</a></li>
          <li><a href="/product/4">Samira</a></li>
        </ul>
      </div>
      <div>
        <ul class="account">
          <li><a href="/login">Login/SignUp</a></li>
        </ul>
      </div>
    </nav>

    <div class="description">
      <h2>Model Selection</h2>
      <p>Provide direction to customer</p>
    </div>
    {{{ body }}}
  </body>