{{#each products as |product|}}
<main class="car-container">
      <div class="card">
        <h3>{{product.product_name}}</h3>
        <div>
        <a  href="/product/{{product.id}}"><img class="grow" src="/images/{{product.filename}}" alt="{{product.description}}"/></a>
       </div>
      </div>
    </main>
    {{/each}}