{{#each products as |product|}}
<main class="car-container">
      <div class="card">
        <header>{{product.product_name}}</header>
        <img src="/images/{{product.filename}}" alt="{{product.description}}"/>
        <div class="middle" id="one">
         <a href="/product/{{product.id}}"><div class="customize" id="cooper">Customize</div></a>
        </div>
      </div>

    
    </main>
    {{/each}}