<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    < <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="stylesheet.css">
</head>
<body>
    <nav id="navbar">
        <ul>
          <li><a href="#ModelC">Model C</a></li>
          <li><a href="#ModelD">Model D</a></li>
          <li><a href="#ModelS">Model S</a></li>
          <li><a href="#ModelP">Model P</a></li>
        </ul>
    </nav>
    <!--ModelC-->
    <section id="modelC">
    <div class= "section1">
        <h1 class="heading1">Model C</h1>
        <button class="btn">Customize</button>
    </div>
</section>
</body>
</html>