<div class="sign-in">
      <!--Need to add html link back to the home page-->
      <div class="home"><a href="/">Create-A-Car</a></div>
      <div class="form-box">
        <div class="button-box">
          <div id="btn"></div>
          <button type="button" class="toggle-btn">
            Log In
          </button>
          <button type="button" class="toggle-btn" >
            Register
          </button>
        </div>
        <form id="login-form" class="input-info">
          <input
            type="text"
            class="input-field"
            placeholder="Username"
            id="username"
            required
          />
          <input
            type="text"
            class="input-field"
            placeholder="Enter Password"
            id="password"
            required
          />
          <button type="submit" class="submit-btn">Log In</button>
          <button type="submit" class="submit-btn" id="logout">Log Out</button>
        </form>
        <form id="register" class="input-info">
          <input
            id='username-signup'
            type="text"
            class="input-field"
            placeholder="Choose Username"
            required
          />
          <input
          id="email-signup"
            type="email"
            class="input-field"
            placeholder="Email Address"
            required
          />
          <input
          id="password-signup"
            type="text"
            class="input-field"
            placeholder=" Create Password"
            required
          />
          <button type="submit" class="submit-btn">Register</button>
        </form>
      </div>
    </div>


  
    

    <script src="./js/login.js"></script>
    <script src="./js/logout.js"></script>

 
  