
<nav>
    <a href="/cart"><i class="fa fa-shopping-cart fa-lg" aria-hidden="true"></i></a>
</nav>
<main>
    <section class="vehicle">
        <h2>
        {{product_name}} - ${{price}}
        </h2>

       <div class="cont">            
            <div class = 'productImage'>
                <img src="/images/{{filename}}" alt="color-car" id='productImg' />
            </div>

            <div class = 'textDesc'>
                <p> {{description}} </p>
            </div>
        </div>
    </section>

    <section>
        <h3 class="option">Vehicle Options</h3>
        <div>
        <button class="button" type="button" id="place-order" onclick="myFunction()" >Place Order</button>
        </div>
    </section>

        <div>   
            <form>
                <section class="radio-container">
                    <p>Please select your vehicle color: </p>
                        <input type="radio" name="color-choice" id="ex-color">
                        <label for="red">Red</label><br>
                        <input type="radio" name="color-choice"  id="ex-color">
                        <label for="orange">Orange</label><br>
                        <input type="radio" name="color-choice" id="ex-color">
                        <label for="yellow">Yellow</label><br>
                        <input type="radio" name="color-choice" id="ex-color">
                        <label for="Black">Black</label><br>
                        <input type="radio" name="color-choice" id="ex-color">
                        <label for="blue">Blue</label><br>
                        <input type="radio" name="color-choice" id="ex-color">
                        <label for="White">White</label><br>
                </section>
            </form>
        </div>

            <form>
                <section class="radio-container">
                    <p>Please select your interior color: </p>
                        <input type="radio" name="color-choice" value="Red" id="int-color">
                        <label for="red">Red</label><br>
                        <input type="radio" name="color-choice" value="Black" id="int-color">
                        <label for="black">Black</label><br>
                        <input type="radio" name="color-choice" value="White" id="int-color">
                        <label for="white">White</label><br>
                </section>
            </form>

            <form>
                <section class="radio-container">
                    <p>Please select your wheels: </p>
                        <input type="radio"  name="wheels" value= 'Trackhawk Gloss Black' id='wheels'>
                        <label for="red">Trackhawk Gloss Black</label><br>
                        <input type="radio"  name="wheels" value='TSW Alloy Silver' id='wheels'>
                        <label for="red">TSW Alloy Silver</label><br>
                        <input type="radio" name="wheels" value='Hellion Gloss Black' id='wheels'>
                        <label for="red">Hellion Gloss Black</label><br>
                </section>
                <br>    
            </form>

        <script>
        function myFunction() {
        alert('Your Order has been placed. ')
        }
        </script>

</main>

