
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model P</title>
    <link rel= "stylesheet" href="/assets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="nav-container">
        <div>
            <h1 class=name-header><a href="home.html">Create-A-Car</a></h1>
        </div>
        <div class="model">
            <ul class="car">
                <li><a href="#Cooper">Model C</a></li>
                <li><a href="#Desiree">Model D</a></li>
                <li><a href="#Phon">Model P</a></li>
                <li><a href="#Samira">Model S</a></li>
            </ul>
        </div>
        <div>
            <ul class="account">
                <li><a href="account-index.html">Account</a></li>
            </ul>
        </div>
</nav>
<main>

<section class="vehicle">
      <header>{{product_name}}</header>
      <img src="../images/{{filename}}" alt="color-car" />


      <div>
          {{description}}
      </div>

    </section>
    <form>
        <h1>Vehicle Options</h1>
    <section class="radio-container">
        <p>Please select your vehicle color: </p>
            <input type="radio" name="color-choice" value="Red" id="ex-color">
            <label for="red">Red</label><br>
            <input type="radio" name="color-choice" value="Orange" id="ex-color">
            <label for="orange">Orange</label><br>
            <input type="radio" name="color-choice" value="Yellow"id="ex-color">
            <label for="yellow">Yellow</label><br>
            <input type="radio" name="color-choice" value="Green"id="ex-color">
            <label for="green">Green</label><br>
            <input type="radio" name="color-choice" value="Blue"id="ex-color">
            <label for="blue">Blue</label><br>
    </section>
    <section class="radio-container">
        <p>Please select your interior color: </p>
            <input type="radio" name="color-choice" value="Black" id="int-color">
            <label for="red">Red</label><br>
            <input type="radio" name="color-choice" value="Orange" id="int-color">
            <label for="orange">Orange</label><br>
            <input type="radio" name="color-choice" value="Yellow" id="int-color">
            <label for="yellow">Yellow</label><br>
            <input type="radio" name="color-choice" value="Green" id="int-color" >
            <label for="green">Green</label><br>
            <input type="radio"  name="color-choice" value="Blue" id="int-color">
            <label for="blue">Blue</label><br>
    </section>
    <section class="radio-container">
        <p>Please select your wheels: </p>
            <input type="radio"  name="wheels" id='wheels'>
            <img src="../public/images/default.jpg"> Trackhawk Gloss Black
            <input type="radio"  name="wheels" id='wheels'>
            <img src="../public/images/tsw.jpg"> TSW Alloy Silver
            <input type="radio" name="wheels" id='wheels'>
            <img src="../public/images/vision-18-hellion-gloss-black_1.jpg"> Hellion Gloss Black
    </section>
    <section>
        <button class="button" type="button" id="place-order">Place Order</button>
    </section>
    </form>

    <script src="./js/placeorder.js"></script>