*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*Navabar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black(0,0,.5);
    position: sticky;
    top: auto;
}

.navabar ul{
display:flex;
list-style: none;
margin: 20px 0px;
}

.navbar ul li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}